<!DOCTYPE html>
<html>
<head>
	<title>{{head.title}}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<style type="text/css">
		.grouped-slight {
			background-color: rgba(255, 255, 255, 0.3); 	
			padding: 20px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			margin-bottom : 20px;
			color: #000; 
		}
		body{
			background-image: url('http://localhost:3000/bg.jpg'); 
		}
	</style>
</head>
<body>

	<div class="container grouped-slight">
		<h1>Documentation</h1>
		
		<h2>Content</h2>
		<div class="grouped-slight">
		{{#endpoints}}
			<p> <a href="#{{title}}">{{url}}</a></p>
		{{/endpoints}}
		</div>

		<h2>Endpoints</h2>
		{{#endpoints}}
			<div class="grouped-slight" id="{{title}}">
				<h3>{{title}}</h3>
				<hr>
				<p><b>METHOD:</b> {{method}}</p>
				<p><b>URL:</b> {{url}}</p>
				<p>{{description}}</p>
				<p><b>Expected input:</b> {{expectedInput}}</p>
				<p><b>Expected output:</b> {{expectedOutput}}</p>
				<div class="panel panel-default">
				  <div class="panel-heading toggleAble">Implementation - {{handlerName}} </div>
				  <div class="panel-body" style="display:none;" >
	   				<pre class="prettyprint">{{handler}}</pre>
				  </div>
				</div>
			</div>
		{{/endpoints}}
	</div>

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

	<script>
		$(".toggleAble").click(function(){
			$(this).next().slideToggle(); 
		}); 
	</script>
</body>
</html>